
﻿@using E_ProjectSem3.Models
@model LoginViewModel
@{
    ViewBag.Title = "Admin - Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <link rel="shortcut icon" href="/Content/img/favicon.png?3">
    <link href="~/Content/css/dialog-custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    @*<link href="~/Content/css/data-table.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="~/Content/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/css/jquery.toast.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/css")
    <style>
        .custom-checkbox .custom-control-label::before {
            display: none;
        }
        .custom-control-label::after {
            display: none;
        }
    </style>

</head>
<body>
    <div class="page-holder d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
                    <div class="pr-lg-5"><img src="~/Content/img/illustration.svg" alt="" class="img-fluid"></div>
                </div>
                <div class="col-lg-5 px-lg-4">

                    <h1 class="text-base text-primary text-uppercase mb-4">JamesThew Dashboard</h1>
                    <h2 class="mb-4">Welcome back!</h2>
                    <p class="text-muted">Happy to see you again.</p>
                    @*<form id="loginForm" action="index.html" class="mt-4">

                            <div class="form-group mb-4">
                                <input type="text" name="username" placeholder="Username or Email address" class="form-control border-0 shadow form-control-lg">
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" name="passowrd" placeholder="Password" class="form-control border-0 shadow form-control-lg text-violet">
                            </div>
                            <div class="form-group mb-4">
                                <div class="custom-control custom-checkbox">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember Me</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary shadow px-5">Log in</button>

                        </form>*@

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mt-4", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group mb-4">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control border-0 shadow form-control-lg", placeholder="Username or Email address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control border-0 shadow form-control-lg text-violet",placeholder="Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-inpu"})
                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label"})
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary shadow px-5">Log in</button>

                    }
                </div>
            </div>
            <p class="mt-5 mb-0 text-gray-400 text-center">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">JamesThew</a></p>

        </div>
    </div>
    <!-- JavaScript files-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="~/Content/js/charts-home.js"></script>
    <script src="~/Content/js/front.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/data-table.js"></script>

    <!-- Notification -->
    <script src="~/Content/js/alert/jquery.toast.min.js"></script>
    <script src="~/Content/js/alert/toastDemo.js"></script>
    <!-- Popup -->
    <script src="~/Content/js/alert/sweetalert.min.js"></script>
    <script src="~/Content/js/alert/jquery.avgrund.min.js"></script>
    <script src="~/Content/js/alert/alerts.js"></script>
    <script src="~/Content/js/alert/avgrund.js"></script>
    <script src="~/Content/js/custom-select-option.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/Content/js/add-discipline.js"></script>
    <script src="~/Content/js/custom.js"></script>


    <script>
        var pathName = window.location.pathname;
        $('.sidebar-list-item a').each(function () {
            var $this = $(this);
            if ($this.attr('href') == pathName) {
                $this.addClass('active');
            }
        });
    </script>

</body>
</html>