@model PagedList.IPagedList<E_ProjectSem3.Models.Recipe>
@using System.Globalization
@using E_ProjectSem3.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));

}
<link rel="stylesheet" href="~/Content/css/jquery.toast.min.css">

<style>
    #myTab{
        font-size: 14px;
        color: #495057;
    }
    #myTab .active{
        border-top: 2px solid #ffd800;
        color : #ff6a00;
    }
    .nav-link{
        cursor: pointer;
    }
</style>
<!-- Body -->
<div class="os-container hero-roll-w">
    <div class="owl-carousel hero-posts-owl-slider">
        @for (int i = 0; i < ViewBag.DataSliderBig.Count; i++)
        {
            var recipe = ViewBag.DataSliderBig[i] as Recipe;
            bool liked = recipe.WishLists.Where(w => w.UserId == User.Identity.GetUserId()).ToList().Count == 1;
            <article class="archive-item any hero post-204 osetin_recipe type-osetin_recipe status-publish format-standard has-post-thumbnail hentry category-fast-food category-pizza tag-chicken tag-hot tag-sushi tag-whole-grains recipe_feature-gluten-free recipe_feature-spicy recipe_feature-vegan recipe_ingredient-butter recipe_ingredient-chicken-breast recipe_ingredient-drained-capers-patted-dry recipe_ingredient-fresh-broccoli recipe_ingredient-ground-beef recipe_ingredient-skin-on-salmon-fillet recipe_ingredient-small-purple-potatoes recipe_ingredient-whole-grain-dijon-mustard recipe_cuisine-french">
                <div class="archive-item-i">
                    <div class="extra-styling-box"></div>
                    <div class="archive-item-share-w active">
                        <div class="archive-item-share-trigger">
                            <div class="archive-item-share-plus"><i class="os-icon os-icon-plus"></i></div>
                            <div class="archive-item-share-label">Share</div>
                            <div class="archive-item-share-icons">
                                <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fgreen-salad-with-cherries%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-facebook"></i></a>
                                <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/green-salad-with-cherries/&amp;text=++Hero+Posts" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-twitter"></i></a>
                                <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/green-salad-with-cherries/&#038;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe1.jpg&#038;description=%20%20Hero%20Posts" target="_blank" class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                                <a href="mailto:?Subject=  Hero Posts&amp;Body=%20http://neptune.pinsupreme.com/recipe/green-salad-with-cherries/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-basic-mail-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="archive-item-media">
                        <a href="/Home/RecipeDetail/@(recipe.Id)" class="archive-item-media-thumbnail fader-activator" style="background-image: url(@(recipe.FeaturedImage)); background-size: cover;">
                            <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                        </a>
                    </div>
                    <div class="archive-item-content">
                        <header class="archive-item-header">
                            <h3 class="entry-title"><a href="/Home/RecipeDetail/@(recipe.Id)" rel="bookmark">@(recipe.Title)</a></h3>
                        </header>
                        <div class="archive-item-meta">
                            <div class="archive-item-meta-cooking-time">
                                Cooking Time: @(recipe.CookingMinute) min
                            </div>

                            <div class="archive-item-meta-categories">
                                <ul class="post-categories">
                                    <li><a href="/Home/Recipes?category=@(recipe.Category.Id)" rel="category tag">@(recipe.Category.Name)</a></li>
                                </ul>
                            </div>
                            <ul class="archive-item-meta-cuisines">
                                <li>
                                    <a href="#" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="French">
                                        <span class="single-recipe-cuisine-label">French</span>
                                        <span class="single-recipe-cuisine-image"><img src="~/Content/assets/wp-content/uploads/2015/11/fr.png" alt="French" /></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="archive-item-content-text">
                            This salad recipe may seem a bit boring and insignificant, but this recipe is sort of the basic foundation of...
                        </div>
                        <div class="archive-item-author-meta">
                            <div class="author-avatar-w">
                                <a href="~/Content/assets/author/askjfds78dfdk/">
                                    <img src="@(recipe.ApplicationUser.Avatar)" width="96" height="96" alt="" class="default avatar" />
                                </a>
                            </div>
                            <div class="author-details">
                                <h4 class="author-name"><a href="#">@(recipe.ApplicationUser.FirstName)</a></h4>
                                <div class="archive-item-date-posted">@(Convert.ToDateTime(recipe.CreatedAt).ToString("M"))</div>
                            </div>
                            <div class="archive-item-views-count-likes">
                                <a href="#" class="slide-button slide-like-button osetin-vote-trigger osetin-vote-not-voted" data-has-voted-label="Liked" data-not-voted-label="Like" data-post-id="204" data-vote-action="vote" data-votes-count="321">
                                    <span class="slide-button-i">

                                        <span class="btn-unlike" data-id="@(recipe.Id)" style="display: @(liked?"contents":"none")">
                                            <i class="fas fa-heart" style="font-size: 18px;"></i>
                                            <span class="slide-button-label">
                                                Liked
                                            </span>
                                        </span>

                                        <span class="btn-like" data-id="@(recipe.Id)" style="display: @(liked?"none":"contents")">
                                            <i class="far fa-heart" style="font-size: 18px;"></i>
                                            <span class="slide-button-label">
                                                Like
                                            </span>
                                        </span>


                                        <span class="slide-button-sub-label like-count">
                                            @(recipe.WishLists.Count)
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="archive-item-deep-meta">
                            <div class="archive-item-rating-and-read-more">
                                <div class="archive-item-read-more-btn">
                                    <div class="read-more-link"><a href="/Home/RecipeDetail/@(recipe.Id)">Read More</a></div>
                                </div>
                            </div>

                            <div class="archive-item-comments">
                                <a href="#">
                                    <i class="os-icon os-icon-thin-comment"></i>
                                    <span>
                                        <span class="dsq-postid">Comment()</span>
                                    </span>
                                </a>
                            </div>
                            <div class="archive-item-views-count"><i class="os-icon os-icon-eye"></i> <span>@(recipe.ViewCount) Views</span></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        }


    </div>
</div>

<div class="os-container">
    <div class="featured-recipes-slider-w featured-layout-small" style="background-image: url(/Content/assets/wp-content/uploads/2015/09/pattern_06-500x5001.png); background-repeat: repeat;">
        <div class="featured-recipes-fade-left">
            <div class="icon-w"><i class="os-icon os-icon-chevron-left"></i></div>
        </div>
        <div class="featured-recipes-fade-right">
            <div class="icon-w"><i class="os-icon os-icon-chevron-right"></i></div>
        </div>
        <div class="featured-recipes-slider-i owl-carousel featured-recipes-owl-slider">
            @for (var i = 0; i < ViewBag.DataSliderSmall.Count; i++)
            {
                var recipe = ViewBag.DataSliderSmall[i] as Recipe;
                <div class="featured-recipes-slider-item">
                    <div class="featured-recipes-item half_half">
                        <div class="featured-recipes-item-i">
                            <div class="featured-recipe-media-w">
                                <a href="/Home/RecipeDetail/@(recipe.Id)" class="featured-recipe-thumbnail fader-activator" style="background-image: url(@(recipe.FeaturedImage)); background-size: cover;">
                                    <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                </a>
                            </div>
                            <div class="featured-recipe-content-w">
                                <div class="featured-recipe-title-w">
                                    <h3 class="featured-recipe-title"><a href="/Home/RecipeDetail/@(recipe.Id)">@(recipe.Title)</a></h3>
                                </div>
                                <div class="featured-recipe-categories-w">
                                    <ul class="post-categories">
                                        <li><a href="#" rel="category tag">@(recipe.Category.Name)</a></li>
                                    </ul>
                                </div>
                                <div class="featured-recipe-details-w">
                                    <div class="featured-recipe-cooking-time">
                                        Cooking Time: @(recipe.CookingMinute) min
                                    </div>
                                    <div class="featured-recipe-features">
                                        <ul>
                                            <li><span class="tooltip-trigger" data-tooltip-header="Gluten Free"><img src="~/Content/assets/wp-content/uploads/2015/09/415.png" alt="Gluten Free" /></span></li>
                                            <li><span class="tooltip-trigger" data-tooltip-header="Spicy"><img src="~/Content/assets/wp-content/uploads/2015/09/342.png" alt="Spicy" /></span></li>
                                            <li><span class="tooltip-trigger" data-tooltip-header="Vegan"><img src="~/Content/assets/wp-content/uploads/2015/09/263.png" alt="Vegan" /></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

<div class="os-container">
    <div class="archive-posts-w with-sidebar sidebar-location-right ">
        <div class="archive-posts masonry-grid-w per-row-3">
            <div class="masonry-grid" data-layout-mode="fitRows">

                @for (var i = 0; i < Model.Count(); i++)
                {
                    var recipe = Model[i] as Recipe;
                    var first = "";
                    if (i % 3 == 0)
                    {
                        first = "first-in-row";
                    }
                    else
                    {
                        first = "";
                    }
                    <div class="masonry-item any third @(first)">
                        <article class="archive-item any full_full post-206 osetin_recipe type-osetin_recipe status-publish format-standard has-post-thumbnail hentry category-chicken tag-cheese tag-hot tag-quick recipe_feature-gluten-free recipe_feature-spicy recipe_feature-vegan recipe_ingredient-chicken-breast recipe_ingredient-fresh-broccoli recipe_ingredient-haricots-verts-trimmed recipe_ingredient-large-eggs recipe_ingredient-skin-on-salmon-fillet recipe_cuisine-italian">
                            <div class="archive-item-i">
                                <div class="extra-styling-box"></div>
                                <div class="archive-item-share-w active">
                                    <div class="archive-item-share-trigger">
                                        <div class="archive-item-share-plus"><i class="os-icon os-icon-plus"></i></div>
                                        <div class="archive-item-share-label">Share</div>
                                        <div class="archive-item-share-icons">
                                            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fsteamed-broccoli-with-vinegar-souce%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-facebook"></i></a>
                                            <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/steamed-broccoli-with-vinegar-souce/&amp;text=++Hero+Posts" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-twitter"></i></a>
                                            <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/steamed-broccoli-with-vinegar-souce/&#038;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe17.jpg&#038;description=%20%20Hero%20Posts" target="_blank"
                                               class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                                            <a href="mailto:?Subject=  Hero Posts&amp;Body=%20http://neptune.pinsupreme.com/recipe/steamed-broccoli-with-vinegar-souce/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-basic-mail-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="archive-item-media">
                                    <a href="/Home/RecipeDetail/@(recipe.Id)" class="archive-item-media-thumbnail fader-activator" style="background-image: url(@(recipe.FeaturedImage)); background-size: cover;">
                                        <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                    </a>
                                </div>
                                <div class="archive-item-content">
                                    <header class="archive-item-header">
                                        <h3 class="entry-title"><a href="/Home/RecipeDetail/@(recipe.Id)" rel="bookmark">@(recipe.Title)</a></h3>
                                    </header>
                                    <div class="archive-item-meta">
                                        <div class="archive-item-meta-cooking-time">
                                            Cooking Time: @(recipe.CookingMinute) min
                                        </div>

                                        <div class="archive-item-meta-categories">
                                            <ul class="post-categories">
                                                <li><a href="#" rel="category tag">@(recipe.Category.Name)</a></li>
                                            </ul>
                                        </div>
                                        @if (recipe.ApplicationUser.Id == User.Identity.GetUserId())
                                        {
                                            <ul class="archive-item-meta-cuisines">
                                                <li>
                                                    <a href="#" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="Your recipe">
                                                        <span class="single-recipe-cuisine-image"><img src="https://res.cloudinary.com/dev20/image/upload/v1581839681/Jame/recipe-icon_qeqogv.png" alt="Italian" style="height: 28px;" /></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                        else if (recipe.Type == (int)Recipe.RecipeType.NotFree && (!Request.IsAuthenticated || (!UserManager.IsInRole(User.Identity.GetUserId(), "silver") && !UserManager.IsInRole(User.Identity.GetUserId(), "gold") && recipe.ApplicationUser.Id != User.Identity.GetUserId())))
                                        {
                                            <ul class="archive-item-meta-cuisines">
                                                <li>
                                                    <a href="/Home/Membership" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="Become member">
                                                        <span class="single-recipe-cuisine-image"><img src="https://res.cloudinary.com/dev20/image/upload/v1581777158/Jame/becomeamember-02_oybvw6.png" alt="Italian" style="height: 28px;" /></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                    <div class="archive-item-content-text">
                                        Put your wine, shallot, herbs and peppercorns into a small pot and bring to the boil, then simmer slowly for 3 or 4 minutes or...
                                    </div>
                                    <div class="archive-item-deep-meta">
                                        <div class="archive-item-rating-and-read-more">
                                            <div class="archive-item-read-more-btn">
                                                <div class="read-more-link"><a href="/Home/RecipeDetail/@(recipe.Id)">Read More</a></div>
                                            </div>
                                        </div>

                                        <div class="archive-item-views-count"><i class="os-icon os-icon-eye"></i> <span style="font-size: 12px;">@(recipe.ViewCount) Views</span></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </article>
                    </div>
                }


                @if (Model.Count == 0)
                {
                    <div style="text-align: center">
                        <h4>Not recipe found!</h4>
                    </div>
                }
            </div>

            @if (Model.Count >= 0)
            {
                <div class="archive-pagination classic-pagination">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <div class="archive-pagination-prev">
                            <a href="@Url.Action("Index", new {page = ViewBag.CurrentPage-1})">Previous Entries</a>
                        </div>
                    }

                    @if (ViewBag.CurrentPage < ViewBag.PageTotal)
                    {
                        <div class="archive-pagination-next">
                            <a href="@Url.Action("Index", new {page = ViewBag.CurrentPage+1})">Next Entries</a>
                        </div>
                    }

                </div>
            }
            <div>
                <h3>Contests are taking place</h3>
                <ul class="nav nav-tabs mt-3 mb-5" id="myTab" role="tablist">
                    <li class="nav-item">
                        <div class="nav-link active" id="home-tab" data-toggle="tab" href="#Happenning" role="tab" aria-controls="home" aria-selected="true">Happenning</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" id="profile-tab" data-toggle="tab" href="#Upcoming" role="tab" aria-controls="profile" aria-selected="false">Upcoming</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" id="contact-tab" data-toggle="tab" href="#TookOut" role="tab" aria-controls="contact" aria-selected="false">Took Out</div>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Happenning" role="tabpanel" aria-labelledby="home-tab">
                        @if (ViewBag.ContestHappenning.Count < 0)
                        {
                        <div class="text-danger">No Contest Happenning!</div>
                        }
                        else
                        {
                            foreach (var item in ViewBag.ContestHappenning)
                            {
                                <div class="sticky-roll-w">
                                    <div class="owl-carousel sticky-posts-owl-slider owl-theme owl-loaded">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1500px;">
                                                <div class="owl-item active" style="width: 750px; margin-right: 0px;">
                                                    <article class="archive-item any full_full_over post-177 osetin_recipe type-osetin_recipe status-publish format-gallery has-post-thumbnail hentry category-fast-food tag-quick tag-spicy tag-whole-grains recipe_feature-gluten-free recipe_feature-spicy recipe_feature-vegan recipe_ingredient-chicken-breast recipe_ingredient-fresh-broccoli recipe_ingredient-ground-beef recipe_ingredient-haricots-verts-trimmed recipe_cuisine-italian">
                                                        <div class="archive-item-i">
                                                            <div class="extra-styling-box"></div>
                                                            <div class="archive-item-share-w active">
                                                                <div class="archive-item-share-trigger">
                                                                    <div class="archive-item-share-plus"><i class="os-icon os-icon-plus"></i></div>
                                                                    <div class="archive-item-share-label">Share</div>
                                                                    <div class="archive-item-share-icons">
                                                                        <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fcheesy-pasta-with-crispy-pangritata%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-facebook"></i></a>
                                                                        <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/&amp;text=++Half+Image" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-twitter"></i></a>
                                                                        <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/&amp;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14.jpg&amp;description=%20%20Half%20Image" target="_blank" class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                                                                        <a href="mailto:?Subject=  Half Image&amp;Body=%20http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-basic-mail-envelope"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="archive-item-media">
                                                                <a href="http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" class="archive-item-media-thumbnail fader-activator" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14.jpg); background-size: cover;">
                                                                    <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                                                </a>
                                                            </div>
                                                            <div class="archive-item-content">
                                                                <header class="archive-item-header">
                                                                    <h3 class="entry-title"><a href="http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" rel="bookmark">@(item.Name)</a></h3>
                                                                </header>
                                                                <div class="archive-item-meta">
                                                                    <div class="archive-item-meta-cooking-time">
                                                                        Start Date: @(item.StartDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture))
                                                                    </div>

                                                                    <div class="archive-item-meta-cooking-time">
                                                                        End Date: @(item.EndDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture))
                                                                    </div>
                                                                    <ul class="archive-item-meta-cuisines">
                                                                        <li>
                                                                            <a href="http://neptune.pinsupreme.com/cuisine/italian/" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="Italian">
                                                                                <span class="single-recipe-cuisine-label">Italian</span>
                                                                                <span class="single-recipe-cuisine-image"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/it.png" alt="Italian"></span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="archive-item-content-text" style="max-height: 110px; max-width: 100%; text-overflow: ellipsis">
                                                                    @(new HtmlString(item.Description))
                                                                </div>
                                                                <div class="archive-item-author-meta">
                                                                    <div class="author-avatar-w">
                                                                        <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"><img src="http://neptune.pinsupreme.com/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="96" height="96" alt="" class="default avatar"></a>
                                                                    </div>
                                                                    <div class="author-details">
                                                                        <h4 class="author-name"><a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/">Julia May</a></h4>
                                                                        <div class="archive-item-date-posted">July 17, 2015</div>
                                                                    </div>
                                                                    <div class="archive-item-views-count-likes">
                                                                        <a href="#" class="slide-button slide-like-button osetin-vote-trigger osetin-vote-not-voted" data-has-voted-label="Liked" data-not-voted-label="Like" data-post-id="177" data-vote-action="vote" data-votes-count="287">
                                                                            <span class="slide-button-i">
                                                                                <i class="os-icon os-icon-ui-03"></i>
                                                                                <span class="slide-button-label osetin-vote-action-label">
                                                                                    Like
                                                                                </span>
                                                                                <span class="slide-button-sub-label osetin-vote-count ">
                                                                                    287
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-item-deep-meta">
                                                                    <div class="archive-item-rating-and-read-more">
                                                                        <div class="archive-item-read-more-btn" style="display: flex!important">
                                                                            <div class="read-more-link"><a href="/Contest/ContestDetail/@(item.Id)">Read More</a></div>
                                                                            <div class="read-more-link" style="margin-left:20px"><a href="/contest/join/@(item.Id)">Join</a></div>

                                                                        </div>
                                                                    </div>


                                                                    <div class="archive-item-views-count"><i class="os-icon os-icon-eye"></i> <span>1,873 Views</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </article>
                                                </div><div class="owl-item" style="width: 750px; margin-right: 0px;">
                                                    <article class="archive-item any full_full_over post-200 osetin_recipe type-osetin_recipe status-publish format-standard has-post-thumbnail hentry category-fish category-salads tag-quick tag-spicy tag-sushi tag-whole-grains recipe_feature-gluten-free recipe_feature-vegan recipe_cuisine-mexican">
                                                        <div class="archive-item-i">
                                                            <div class="extra-styling-box"></div>
                                                            <div class="archive-item-share-w active">
                                                                <div class="archive-item-share-trigger">
                                                                    <div class="archive-item-share-plus"><i class="os-icon os-icon-plus"></i></div>
                                                                    <div class="archive-item-share-label">Share</div>
                                                                    <div class="archive-item-share-icons">
                                                                        <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fgreen-veggies-with-flavoured-butter%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-facebook"></i></a>
                                                                        <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/&amp;text=++Half+Image" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-twitter"></i></a>
                                                                        <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/&amp;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16.jpg&amp;description=%20%20Half%20Image" target="_blank" class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                                                                        <a href="mailto:?Subject=  Half Image&amp;Body=%20http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-basic-mail-envelope"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="archive-item-media">
                                                                <a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/" class="archive-item-media-thumbnail fader-activator" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-868x1300.jpg); background-size: cover;">
                                                                    <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                                                </a>
                                                            </div>
                                                            <div class="archive-item-content">
                                                                <header class="archive-item-header">
                                                                    <h3 class="entry-title"><a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/" rel="bookmark">Green veggies with flavoured butter</a></h3>
                                                                </header>
                                                                <div class="archive-item-meta">
                                                                    <div class="archive-item-meta-cooking-time">
                                                                        Cooking Time: 20 min
                                                                    </div>

                                                                    <div class="archive-item-meta-categories">
                                                                        <ul class="post-categories">
                                                                            <li><a href="http://neptune.pinsupreme.com/category/fish/" rel="category tag">Fish</a></li>
                                                                            <li><a href="http://neptune.pinsupreme.com/category/salads/" rel="category tag">Salads</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <ul class="archive-item-meta-cuisines">
                                                                        <li>
                                                                            <a href="http://neptune.pinsupreme.com/cuisine/mexican/" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="Mexican">
                                                                                <span class="single-recipe-cuisine-label">Mexican</span>
                                                                                <span class="single-recipe-cuisine-image"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/mx.png" alt="Mexican"></span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="archive-item-content-text">
                                                                    This wonderfully herby butter gives festive greens loads of flavour, and you can prep it in advance. This wonderfully herby butter gives festive greens loads of flavour, and you can...
                                                                </div>
                                                                <div class="archive-item-author-meta">
                                                                    <div class="author-avatar-w">
                                                                        <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"><img src="http://neptune.pinsupreme.com/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="96" height="96" alt="" class="default avatar"></a>
                                                                    </div>
                                                                    <div class="author-details">
                                                                        <h4 class="author-name"><a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/">Julia May</a></h4>
                                                                        <div class="archive-item-date-posted">July 23, 2015</div>
                                                                    </div>
                                                                    <div class="archive-item-views-count-likes">
                                                                        <a href="#" class="slide-button slide-like-button osetin-vote-trigger osetin-vote-not-voted" data-has-voted-label="Liked" data-not-voted-label="Like" data-post-id="200" data-vote-action="vote" data-votes-count="162">
                                                                            <span class="slide-button-i">
                                                                                <i class="os-icon os-icon-ui-03"></i>
                                                                                <span class="slide-button-label osetin-vote-action-label">
                                                                                    Like
                                                                                </span>
                                                                                <span class="slide-button-sub-label osetin-vote-count ">
                                                                                    162
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-item-deep-meta">
                                                                    <div class="archive-item-rating-and-read-more">
                                                                        <div class="archive-item-read-more-btn">
                                                                            <div class="read-more-link"><a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/">Read More</a></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="archive-item-comments">
                                                                        <a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/#singlePostComments"><i class="os-icon os-icon-thin-comment"></i> <span><span class="dsq-postid" data-dsqidentifier="200 http://local.neptune:8888/?post_type=osetin_recipe&amp;p=200">Comment</span></span></a>
                                                                    </div>
                                                                    <div class="archive-item-views-count"><i class="os-icon os-icon-eye"></i> <span>942 Views</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="os-icon os-icon-chevron-left"></i></div><div class="owl-next" style=""><i class="os-icon os-icon-chevron-right"></i></div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="tab-pane fade" id="Upcoming" role="tabpanel" aria-labelledby="profile-tab">
                        @if (ViewBag.ContestUpcoming.Count < 0)
                        {
                        <div class="text-danger">No Contest Upcoming!</div>
                        }
                        else
                        {
                            foreach (var item in ViewBag.ContestUpcoming)
                            {
                                <div class="sticky-roll-w">
                                    <div class="owl-carousel sticky-posts-owl-slider owl-theme owl-loaded">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1500px;">
                                                <div class="owl-item active" style="width: 750px; margin-right: 0px;">
                                                    <article class="archive-item any full_full_over post-177 osetin_recipe type-osetin_recipe status-publish format-gallery has-post-thumbnail hentry category-fast-food tag-quick tag-spicy tag-whole-grains recipe_feature-gluten-free recipe_feature-spicy recipe_feature-vegan recipe_ingredient-chicken-breast recipe_ingredient-fresh-broccoli recipe_ingredient-ground-beef recipe_ingredient-haricots-verts-trimmed recipe_cuisine-italian">
                                                        <div class="archive-item-i">
                                                            <div class="extra-styling-box"></div>
                                                            <div class="archive-item-share-w active">
                                                                <div class="archive-item-share-trigger">
                                                                    <div class="archive-item-share-plus"><i class="os-icon os-icon-plus"></i></div>
                                                                    <div class="archive-item-share-label">Share</div>
                                                                    <div class="archive-item-share-icons">
                                                                        <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fcheesy-pasta-with-crispy-pangritata%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-facebook"></i></a>
                                                                        <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/&amp;text=++Half+Image" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-twitter"></i></a>
                                                                        <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/&amp;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14.jpg&amp;description=%20%20Half%20Image" target="_blank" class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                                                                        <a href="mailto:?Subject=  Half Image&amp;Body=%20http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-basic-mail-envelope"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="archive-item-media">
                                                                <a href="http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" class="archive-item-media-thumbnail fader-activator" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe14.jpg); background-size: cover;">
                                                                    <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                                                </a>
                                                            </div>
                                                            <div class="archive-item-content">
                                                                <header class="archive-item-header">
                                                                    <h3 class="entry-title"><a href="http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/" rel="bookmark">@(item.Name)</a></h3>
                                                                </header>
                                                                <div class="archive-item-meta">
                                                                    <div class="archive-item-meta-cooking-time">
                                                                        Cooking Time: 10 min
                                                                    </div>

                                                                    <div class="archive-item-meta-categories">
                                                                        <ul class="post-categories">
                                                                            <li><a href="http://neptune.pinsupreme.com/category/fast-food/" rel="category tag">Fast Food</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <ul class="archive-item-meta-cuisines">
                                                                        <li>
                                                                            <a href="http://neptune.pinsupreme.com/cuisine/italian/" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="Italian">
                                                                                <span class="single-recipe-cuisine-label">Italian</span>
                                                                                <span class="single-recipe-cuisine-image"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/it.png" alt="Italian"></span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="archive-item-content-text" style="max-height: 110px; max-width: 100%; text-overflow: ellipsis">
                                                                    @(new HtmlString(item.Description))
                                                                </div>
                                                                <div class="archive-item-author-meta">
                                                                    <div class="author-avatar-w">
                                                                        <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"><img src="http://neptune.pinsupreme.com/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="96" height="96" alt="" class="default avatar"></a>
                                                                    </div>
                                                                    <div class="author-details">
                                                                        <h4 class="author-name"><a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/">Julia May</a></h4>
                                                                        <div class="archive-item-date-posted">July 17, 2015</div>
                                                                    </div>
                                                                    <div class="archive-item-views-count-likes">
                                                                        <a href="#" class="slide-button slide-like-button osetin-vote-trigger osetin-vote-not-voted" data-has-voted-label="Liked" data-not-voted-label="Like" data-post-id="177" data-vote-action="vote" data-votes-count="287">
                                                                            <span class="slide-button-i">
                                                                                <i class="os-icon os-icon-ui-03"></i>
                                                                                <span class="slide-button-label osetin-vote-action-label">
                                                                                    Like
                                                                                </span>
                                                                                <span class="slide-button-sub-label osetin-vote-count ">
                                                                                    287
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-item-deep-meta">
                                                                    <div class="archive-item-rating-and-read-more">
                                                                        <div class="archive-item-read-more-btn" style="display: flex!important">
                                                                            <div class="read-more-link"><a href="http://neptune.pinsupreme.com/recipe/cheesy-pasta-with-crispy-pangritata/">Read More</a></div>
                       

                                                                        </div>
                                                                    </div>


                                                                    <div class="archive-item-views-count"><i class="os-icon os-icon-eye"></i> <span>1,873 Views</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </article>
                                                </div><div class="owl-item" style="width: 750px; margin-right: 0px;">
                                                    <article class="archive-item any full_full_over post-200 osetin_recipe type-osetin_recipe status-publish format-standard has-post-thumbnail hentry category-fish category-salads tag-quick tag-spicy tag-sushi tag-whole-grains recipe_feature-gluten-free recipe_feature-vegan recipe_cuisine-mexican">
                                                        <div class="archive-item-i">
                                                            <div class="extra-styling-box"></div>
                                                            <div class="archive-item-share-w active">
                                                                <div class="archive-item-share-trigger">
                                                                    <div class="archive-item-share-plus"><i class="os-icon os-icon-plus"></i></div>
                                                                    <div class="archive-item-share-label">Share</div>
                                                                    <div class="archive-item-share-icons">
                                                                        <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fneptune.pinsupreme.com%2Frecipe%2Fgreen-veggies-with-flavoured-butter%2F" target="_blank" class="archive-item-share-link aisl-facebook"><i class="os-icon os-icon-facebook"></i></a>
                                                                        <a href="http://twitter.com/share?url=http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/&amp;text=++Half+Image" target="_blank" class="archive-item-share-link aisl-twitter"><i class="os-icon os-icon-twitter"></i></a>
                                                                        <a href="//www.pinterest.com/pin/create/button/?url=http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/&amp;media=http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16.jpg&amp;description=%20%20Half%20Image" target="_blank" class="archive-item-share-link aisl-pinterest"><i class="os-icon os-icon-pinterest"></i></a>
                                                                        <a href="mailto:?Subject=  Half Image&amp;Body=%20http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/" target="_blank" class="archive-item-share-link aisl-mail"><i class="os-icon os-icon-basic-mail-envelope"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="archive-item-media">
                                                                <a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/" class="archive-item-media-thumbnail fader-activator" style="background-image:url(http://neptune.pinsupreme.com/wp-content/uploads/2015/07/recipe16-868x1300.jpg); background-size: cover;">
                                                                    <span class="image-fader"><span class="hover-icon-w"><i class="os-icon os-icon-plus"></i></span></span>
                                                                </a>
                                                            </div>
                                                            <div class="archive-item-content">
                                                                <header class="archive-item-header">
                                                                    <h3 class="entry-title"><a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/" rel="bookmark">Green veggies with flavoured butter</a></h3>
                                                                </header>
                                                                <div class="archive-item-meta">
                                                                    <div class="archive-item-meta-cooking-time">
                                                                        Cooking Time: 20 min
                                                                    </div>

                                                                    <div class="archive-item-meta-categories">
                                                                        <ul class="post-categories">
                                                                            <li><a href="http://neptune.pinsupreme.com/category/fish/" rel="category tag">Fish</a></li>
                                                                            <li><a href="http://neptune.pinsupreme.com/category/salads/" rel="category tag">Salads</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <ul class="archive-item-meta-cuisines">
                                                                        <li>
                                                                            <a href="http://neptune.pinsupreme.com/cuisine/mexican/" class="single-recipe-cuisine-label-w tooltip-trigger" data-tooltip-header="Mexican">
                                                                                <span class="single-recipe-cuisine-label">Mexican</span>
                                                                                <span class="single-recipe-cuisine-image"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/mx.png" alt="Mexican"></span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="archive-item-content-text">
                                                                    This wonderfully herby butter gives festive greens loads of flavour, and you can prep it in advance. This wonderfully herby butter gives festive greens loads of flavour, and you can...
                                                                </div>
                                                                <div class="archive-item-author-meta">
                                                                    <div class="author-avatar-w">
                                                                        <a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/"><img src="http://neptune.pinsupreme.com/wp-content/plugins/userpro/img/default_avatar_male.jpg" width="96" height="96" alt="" class="default avatar"></a>
                                                                    </div>
                                                                    <div class="author-details">
                                                                        <h4 class="author-name"><a href="http://neptune.pinsupreme.com/author/askjfds78dfdk/">Julia May</a></h4>
                                                                        <div class="archive-item-date-posted">July 23, 2015</div>
                                                                    </div>
                                                                    <div class="archive-item-views-count-likes">
                                                                        <a href="#" class="slide-button slide-like-button osetin-vote-trigger osetin-vote-not-voted" data-has-voted-label="Liked" data-not-voted-label="Like" data-post-id="200" data-vote-action="vote" data-votes-count="162">
                                                                            <span class="slide-button-i">
                                                                                <i class="os-icon os-icon-ui-03"></i>
                                                                                <span class="slide-button-label osetin-vote-action-label">
                                                                                    Like
                                                                                </span>
                                                                                <span class="slide-button-sub-label osetin-vote-count ">
                                                                                    162
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-item-deep-meta">
                                                                    <div class="archive-item-rating-and-read-more">
                                                                        <div class="archive-item-read-more-btn">
                                                                            <div class="read-more-link"><a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/">Read More</a></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="archive-item-comments">
                                                                        <a href="http://neptune.pinsupreme.com/recipe/green-veggies-with-flavoured-butter/#singlePostComments"><i class="os-icon os-icon-thin-comment"></i> <span><span class="dsq-postid" data-dsqidentifier="200 http://local.neptune:8888/?post_type=osetin_recipe&amp;p=200">Comment</span></span></a>
                                                                    </div>
                                                                    <div class="archive-item-views-count"><i class="os-icon os-icon-eye"></i> <span>942 Views</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="os-icon os-icon-chevron-left"></i></div><div class="owl-next" style=""><i class="os-icon os-icon-chevron-right"></i></div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="tab-pane fade" id="TookOut" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
               
            </div>
        </div>
        <div class="archive-sidebar color-scheme-light " style="">
            <aside id="osetin_author_widget-1" class="widget-odd widget-first widget-1 with-ribbon widget widget_osetin_author_widget">
                <div class="shortcode-about-author">
                    <h3 class="saa-header header-ribbon">About Me</h3>
                    <div class="saa-avatar"><img src="~/Content/assets/wp-content/uploads/2016/12/alba.png" alt="About Me" /></div>
                    <div class="saa-content">
                        <p>I love cooking and blogging. Using a fork, break salmon. Halve reserved potatoes and eggs crosswise.</p>
                    </div>
                </div>
            </aside>
            <aside id="osetin_social_widget-1" class="widget-even widget-2 widget widget_osetin_social_widget">
                <ul class="shortcode-social-links">
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
                </ul>
            </aside>
            <aside id="mc4wp_form_widget-2" class="widget-odd widget-3 widget widget_mc4wp_form_widget">
                <h3 class="widget-title"><span>Our Newsletter</span></h3>
                <script>
                    (function () {
                                    if (!window.mc4wp) {
                                        window.mc4wp = {
                                        listeners: [],
                                forms: {
                                            on: function (event, callback) {
                                    window.mc4wp.listeners.push({
                                            event: event,
                                            callback: callback
                                });
                                    }
                        }
                            }
                        }
                    })();
                </script>
                <!-- Mailchimp for WordPress v4.7.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-916 mc4wp-form-basic" method="post" data-id="916" data-name="Default sign-up form">
                    <div class="mc4wp-form-fields">
                        <p>
                            <div style="font-size: 12px; margin-bottom: 10px;">Subscribe for our weekly recipes tips, we promise to not spam you</div>
                            <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required />
                        </p>
                        <p>
                            <input type="submit" value="Subscribe">
                        </p>
                    </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1581433211" /><input type="hidden" name="_mc4wp_form_id" value="916" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                    <div class="mc4wp-response"></div>
                </form>
                <!-- / Mailchimp for WordPress Plugin -->
            </aside>
            <aside id="osetin_categories_widget-1" class="widget-even widget-4 with-ribbon widget widget_osetin_categories_widget">
                <h3 class="widget-title"><span>Categories</span></h3>
                <div class="shortcode-categories-icons">
                    <table class="category-ajax">
                    </table>
                </div>
            </aside>
            <aside id="widget_tptn_pop-1" class="widget-odd widget-5 with-ribbon widget tptn_posts_list_widget">
                <h3 class="widget-title"><span>Popular Recipes</span></h3>
                <div class="tptn_posts  tptn_posts_widget tptn_posts_widget1">
                    <ul class="popular-ajax-page">
                    </ul>
                    <div class="tptn_clear"></div>
                </div>
            </aside>
            <aside id="osetin_cuisines_widget-1" class="widget-even widget-6 with-ribbon widget widget_osetin_cuisines_widget">
                <h3 class="widget-title"><span>Popular Cuisines</span></h3>
                <div class="shortcode-categories-icons">
                    <table>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="~/Content/assets/cuisine/brazilian/"><img src="~/Content/assets/wp-content/uploads/2015/11/br.png" alt="Brazilian" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="~/Content/assets/cuisine/brazilian/">Brazilian</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="~/Content/assets/cuisine/french/"><img src="~/Content/assets/wp-content/uploads/2015/11/fr.png" alt="French" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="~/Content/assets/cuisine/french/">French</a></h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="~/Content/assets/cuisine/italian/"><img src="~/Content/assets/wp-content/uploads/2015/11/it.png" alt="Italian" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="~/Content/assets/cuisine/italian/">Italian</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="~/Content/assets/cuisine/mexican/"><img src="~/Content/assets/wp-content/uploads/2015/11/mx.png" alt="Mexican" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="~/Content/assets/cuisine/mexican/">Mexican</a></h3>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>
            <aside id="text-2" class="widget-odd widget-7 widget widget_text">
                <div class="textwidget"><a href="/"><img src="~/Content/assets/wp-content/uploads/2015/09/magic_placeholder_2.jpg" alt="magic box" /></a></div>
            </aside>
            <aside id="tag_cloud-1" class="widget-even widget-last widget-8 with-ribbon widget widget_tag_cloud">
                <h3 class="widget-title"><span>Popular Tags</span></h3>
                <div class="tagcloud">
                    <a href="~/Content/assets/tag/beef/" class="tag-cloud-link tag-link-22 tag-link-position-1" style="font-size: 15.777777777778pt;" aria-label="beef (4 items)">beef</a>
                    <a href="~/Content/assets/tag/broccoli/" class="tag-cloud-link tag-link-23 tag-link-position-2" style="font-size: 15.777777777778pt;" aria-label="broccoli (4 items)">broccoli</a>
                    <a href="~/Content/assets/tag/cheese/" class="tag-cloud-link tag-link-24 tag-link-position-3" style="font-size: 15.777777777778pt;" aria-label="cheese (4 items)">cheese</a>
                    <a href="~/Content/assets/tag/chicken/" class="tag-cloud-link tag-link-25 tag-link-position-4" style="font-size: 15.777777777778pt;" aria-label="chicken (4 items)">chicken</a>
                    <a href="~/Content/assets/tag/corn/" class="tag-cloud-link tag-link-26 tag-link-position-5" style="font-size: 15.777777777778pt;" aria-label="corn (4 items)">corn</a>
                    <a href="~/Content/assets/tag/hot/" class="tag-cloud-link tag-link-27 tag-link-position-6" style="font-size: 22pt;" aria-label="hot (5 items)">hot</a>
                    <a href="~/Content/assets/tag/mushrooms/" class="tag-cloud-link tag-link-28 tag-link-position-7" style="font-size: 15.777777777778pt;" aria-label="mushrooms (4 items)">mushrooms</a>
                    <a href="~/Content/assets/tag/quick/" class="tag-cloud-link tag-link-29 tag-link-position-8" style="font-size: 15.777777777778pt;" aria-label="quick (4 items)">quick</a>
                    <a href="~/Content/assets/tag/spicy/" class="tag-cloud-link tag-link-30 tag-link-position-9" style="font-size: 8pt;" aria-label="spicy (3 items)">spicy</a>
                    <a href="~/Content/assets/tag/sushi/" class="tag-cloud-link tag-link-31 tag-link-position-10" style="font-size: 8pt;" aria-label="sushi (3 items)">sushi</a>
                    <a href="~/Content/assets/tag/whole-grains/" class="tag-cloud-link tag-link-32 tag-link-position-11" style="font-size: 15.777777777778pt;" aria-label="whole grains (4 items)">whole grains</a>
                </div>
            </aside>
        </div>
    </div>
</div>

<div id="show-message" data-success="@ViewBag.ThanhToan"></div>
@*<div id="show-expired" data-expired="@ViewBag.Expired"></div>*@
<!-- Notification -->
<script src="~/Content/js/alert/jquery.toast.min.js"></script>
<script src="~/Content/js/alert/toastDemo.js"></script>
<script type='text/javascript' src='~/Content/js/CategoriesAjax.js'></script>
<script type="text/javascript" src="~/Content/js/PopularRecipe.js"></script>
<script type="text/javascript" src="~/Content/js/Like.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/popper.min.js"></script>

@section Scripts
{
    <script>
        jQuery(document).ready(function ($) {
            if ($('#show-message').data('success') == "True") {
                showSuccessToast();
            };
            //if ($('#show-expired').data('expired') != "") {
            //    showInfoToast();
            //};

        })
    </script>
}
