@using E_ProjectSem3.Models
@using Microsoft.AspNet.Identity
@model E_ProjectSem3.Models.Recipe
@{
    ViewBag.Title = "UpdateRecipe";
    Layout = "~/Views/Shared/_LayoutRecipe.cshtml";
}

<style>
    .acf-input select, input[type="number"] {
        height: 40px;
        border-radius: 4px;
        border-color: #adc9da;
    }

    .acf-field[data-width] + .acf-field[data-width] {
        border-left: none !important;
    }

    input[type="number"] {
        border: 1px solid #adc9da;
    }
</style>
<div class="os-container top-bar-w">
    <div class="top-bar ">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li>Update Recipe</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>

<div class="os-container">
    <div class="page-intro-header with-background" style="background-image:url(/Content/assets/wp-content/uploads/2015/09/pattern_01-500x500.png); background-repeat: repeat; background-position: top left; ">
        <h2>Update Recipe</h2>
    </div>
</div>
<div class="os-container">

    <div class="page-w ">
        <div class="page-content">
            <article id="page-568" class="post-568 page type-page status-publish has-post-thumbnail hentry">
                <div class="frontend-publisher-w">
                    <h2 class="form-header">Update your recipe</h2>
                    <form id="frontend-publisher" class="acf-form" action="@Url.Action("OnSubmitUpdateRecipe","Chef")" method="post">
                        <div class="acf-fields acf-form-fields -top">


                            <div class="acf-field acf-field-text acf-field--post-title is-required" data-required="1" style="width: 80%; padding-right: 15px;" data-width="30">
                                <div class="acf-label">
                                    <label for="acf-_post_title">Title <span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="text" id="acf-_post_title" name="title" required="required" value="@(Model.Title)" />
                                    </div>
                                </div>
                            </div>

                            <div class="acf-field acf-field-select acf-field-5585b766453f9" style="width:20%;" data-width="30">
                                <div class="acf-label">
                                    <label for="free">Free?</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_5585b766453f9" class="" name="recipeType" placeholder="Select" required="required">
                                        <option value="1" @(Model.Type == 1 ? "selected" : "")>Free</option>
                                        <option value="0" @(Model.Type == 0 ? "selected" : "")>Not-Free</option>
                                    </select>
                                </div>
                            </div>

                            <div class="acf-field acf-field-wysiwyg acf-field--post-content" data-name="_post_content" data-type="wysiwyg" data-key="_post_content">
                                <div class="acf-label">
                                    <label for="acf-_post_content">Content</label>
                                </div>
                                <div class="acf-input">
                                    @*<div id="acf-hidden-wp-editor" class="acf-hidden">
                                            <div id="wp-acf_content-wrap" class="wp-core-ui wp-editor-wrap tmce-active">
                                                <link rel='stylesheet' id='dashicons-css' href='http://neptune.pinsupreme.com/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
                                                <link rel='stylesheet' id='editor-buttons-css' href='http://neptune.pinsupreme.com/wp-includes/css/editor.min.css' type='text/css' media='all' />
                                                <div id="wp-acf_content-editor-tools" class="wp-editor-tools hide-if-no-js">
                                                    <div class="wp-editor-tabs">
                                                        <button type="button" id="acf_content-tmce" class="wp-switch-editor switch-tmce" data-wp-editor-id="acf_content">Visual</button>
                                                        <button type="button" id="acf_content-html" class="wp-switch-editor switch-html" data-wp-editor-id="acf_content">Text</button>
                                                    </div>
                                                </div>
                                                <div id="wp-acf_content-editor-container" class="wp-editor-container">
                                                    <div id="qt_acf_content_toolbar" class="quicktags-toolbar"></div>
                                                    <textarea class="wp-editor-area" rows="20" autocomplete="off" cols="40" name="acf_content" id="acf_content"></textarea>
                                                </div>
                                            </div>

                                        </div>*@
                                    <div id="wp-acf-editor-5e42d70de27d4-wrap" class="acf-editor-wrap wp-core-ui wp-editor-wrap tmce-active" data-toolbar="full">
                                        <div id="wp-acf-editor-5e42d70de27d4-editor-tools" class="wp-editor-tools hide-if-no-js">
                                            <div class="wp-editor-tabs">
                                                <button id="acf-editor-5e42d70de27d4-tmce" class="wp-switch-editor switch-tmce" data-wp-editor-id="acf-editor-5e42d70de27d4" type="button">Visual</button>
                                                <button id="acf-editor-5e42d70de27d4-html" class="wp-switch-editor switch-html" data-wp-editor-id="acf-editor-5e42d70de27d4" type="button">Text</button>
                                            </div>
                                        </div>
                                        <div id="wp-acf-editor-5e42d70de27d4-editor-container" class="wp-editor-container">
                                            <textarea id="acf-editor-5e42d70de27d4" class="wp-editor-area" name="content" style="height: 300px;" required="required">
                                                @(Model.Content)
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field--post-title is-required" data-required="1">
                                <div class="acf-label">
                                    <label for="post_image">Image <span class="acf-required">*</span></label>
                                </div>
                                <div class="imgUp">
                                    <div class="imagePreview">
                                        <img src="@(Model.FeaturedImage)" alt="Alternate Text" style="width: 350px; height: auto;" />
                                    </div>
                                    <label class="btn btn-primary">
                                        Upload<input type="button" id="upload_widget" class="upload_widget uploadFile img" value="Upload Photo" style="width: 0px; height: 0px; overflow: hidden; opacity: 0;">
                                    </label>
                                    <input type="hidden" id="post_image" class="image-posted" name="featuredImage" required="required" value="@(Model.FeaturedImage)" />
                                </div>


                            </div>


                            <div class="acf-field acf-field-select acf-field-5585b766453f9" style="width:50%;" data-width="30">
                                <div class="acf-label">
                                    <label for="acf-field_5585b766453f9">Recipe Category</label>
                                </div>
                                <div class="acf-input" style="padding-right: 15px;">
                                    <select id="acf-field_5585b766453f9" class="" name="categoryId" placeholder="Select" required="required">
                                        @foreach (var cate in ViewBag.Categories)
                                        {
                                            <option value="@(cate.Id)" @(Model.Category.Id == cate.Id ? "selected" : "")>@(cate.Name)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="acf-field acf-field-select acf-field-5585b766453f9" style="width:50%;" data-width="30">
                                <div class="acf-label">
                                    <label for="acf-field_5585b766453f9">Difficulty</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_5585b766453f9" class="" name="difficulty" placeholder="Select" required="required">
                                        <option value="Easy" @(Model.Difficulty == "Easy" ? "selected" : "")>Easy</option>
                                        <option value="Medium" @(Model.Difficulty == "Medium" ? "selected" : "")>Medium</option>
                                        <option value="Hard" @(Model.Difficulty == "Hard" ? "selected" : "")>Hard</option>
                                    </select>
                                </div>
                            </div>

                            <div class="acf-field acf-field-textarea acf-field-5588af3018cb3" style="width:100%;">
                                <div class="acf-label">
                                    <label for="acf-field_5588af3018cb3">Description</label>
                                </div>
                                <div class="acf-input">
                                    <textarea id="acf-field_5588af3018cb3" name="description" rows="3" required="required">
                                        @(Model.Description)
                                    </textarea>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field-563041000427e" style="width:33%;" data-width="25">
                                <div class="acf-label">
                                    <label for="acf-field_563041000427e">Preparation Time<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="number" id="acf-field_563041000427e" name="preparationMinute" required="required" value="@(Model.PreparationMinute)" />
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field-56303fcf0427d" style="width:33%; padding-left: 10px;" data-width="25">
                                <div class="acf-label">
                                    <label for="acf-field_56303fcf0427d">Cooking Time<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="number" id="acf-field_56303fcf0427d" name="cookingMinute" required="required" value="@(Model.CookingMinute)" />
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-text acf-field-563062b0f356d" style="width:33%; padding-left: 10px;" data-width="25">
                                <div class="acf-label">
                                    <label for="acf-field_563062b0f356d">Cooking Temperature<span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap">
                                        <input type="number" id="acf-field_563062b0f356d" name="cookingTemp" required="required" value="@(Model.CookingTemp)" />
                                    </div>
                                </div>
                            </div>


                            <div class="acf-field acf-field-repeater acf-field-5585b695453f5">
                                <div class="acf-label">
                                    <label for="acf-field_5585b695453f5">Ingredients</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-repeater -empty -table">
                                        <table class="acf-table">

                                            <thead>
                                                <tr style="border-bottom: 1px solid #adc9da;">
                                                    <th>Index</th>
                                                    <th class="acf-th" data-name="ingredient_name" data-type="text">
                                                        Name
                                                    </th>
                                                    <th class="acf-th" data-name="ingredient_amount" data-type="text">
                                                        Amount
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody class="list-ct" data-count="@(Model.Ingredients.Count)">
                                                @for (var i = Model.Ingredients.Count - 1; i >= 0; i--)
                                                {
                                                    var ct = Model.Ingredients.ElementAt(i);
                                                    <tr class="acf-row acf-clone ct">
                                                        <td class="acf-row-handle order" title="Drag to reorder">
                                                            <span>@(i + 1)</span>
                                                        </td>
                                                        <td class="acf-field acf-field-text acf-field-5585317d9b50b">
                                                            <div class="acf-input">
                                                                <div class="acf-input-wrap">
                                                                    <input type="text" name="listIngredient[@(i)].Name" value="@(ct.Name)" required="required"/>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="acf-field acf-field-text acf-field-558531f69b50c">
                                                            <div class="acf-input">
                                                                <div class="acf-input-wrap">
                                                                    <input type="text" name="listIngredient[@(i)].Amount" value="@(ct.Amount)" required="required"/>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="acf-row-handle remove">
                                                            <i class="fas fa-trash-alt delete-ct" style="cursor: pointer"></i>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <div class="acf-actions">
                                            <a class="acf-button button button-primary" id="btn-add-ingredient">Add Ingredient</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-repeater acf-field-5588b3032df0c">
                                <div class="acf-label">
                                    <label for="acf-field_5588b3032df0c">Steps</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-repeater -empty -block">
                                        <table class="acf-table">
                                            <thead>
                                                <tr style="border-bottom: 1px solid #adc9da;">
                                                    <th>Index</th>
                                                    <th class="acf-th" data-name="ingredient_name" data-type="text">
                                                        Content
                                                    </th>
                                                    <th></th>
                                            </thead>

                                            <tbody class="list-step" data-count="@(Model.Steps.Count)">
                                                @for (var i = Model.Steps.Count - 1; i >= 0; i--)
                                                {
                                                    var step = Model.Steps.ElementAt(i);
                                                    <tr class="acf-row step">

                                                        <td class="acf-row-handle order ui-sortable-handle">
                                                            <input type="text" name="listStep[@(i)].Index" value="@(i+1)" required="required"/>
                                                        </td>

                                                        <td class="acf-fields">
                                                            <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" style="width: 30%" data-width="30" data-name="step_description" data-type="textarea">
                                                                <div class="acf-label">
                                                                    <label for="image-step">Image</label>
                                                                </div>
                                                                <div class="imgUp" style="width: 250px;">
                                                                    <div class="image-preview-step">
                                                                        <img src="@(step.ImagePath)" alt="Alternate Text" style="width: 250px; height: 200px !important;" />
                                                                    </div>
                                                                    <label class="btn btn-primary">
                                                                        Upload<input type="button" class="upload_step uploadFile img" value="Upload Photo" style="width: 0px; height: 0px; overflow: hidden; opacity: 0;">
                                                                    </label>
                                                                    <input type="hidden" class="image-step" name="listStep[@(i)].ImagePath" required="required" value="@(step.ImagePath)" />
                                                                </div>
                                                            </div>

                                                            <div class="acf-field acf-field-textarea acf-field-5588b30c2df0d -collapsed-target" style="width: 70%" data-width="30" data-name="step_description" data-type="textarea">
                                                                <div class="acf-label">
                                                                    <label for="step_title">Title</label>
                                                                </div>
                                                                <div class="acf-input">
                                                                    <input type="text" id="step_title" name="listStep[@(i)].Title" value="@(step.Title)" required="required"/>
                                                                </div>


                                                                <div class="acf-label">
                                                                    <label for="step_description">Description</label>
                                                                </div>
                                                                <div class="acf-input">
                                                                    <textarea id="step_description" name="listStep[@(i)].Description" rows="7" required="required">@(step.Description)</textarea>
                                                                </div>

                                                            </div>

                                                        </td>
                                                        <td class="acf-row-handle remove">
                                                            <i class="fas fa-trash-alt delete-step" style="cursor: pointer"></i>
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <input type="hidden" name="recipeId" value="@(Model.Id)" />
                                        <div class="acf-actions">
                                            <a class="acf-button button button-primary" id="btn-add-step">Add Step</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-repeater acf-field-558bba316bc22">
                                <div class="acf-label">
                                    <label for="acf-field_558bba316bc22">Nutritions</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-repeater -empty -table">
                                        <table class="acf-table">
                                            <thead>
                                                <tr style="border-bottom: 1px solid #adc9da;">
                                                    <th>Index</th>
                                                    <th class="acf-th" data-name="nutrition_name" data-type="text">
                                                        Nutrition Name
                                                    </th>
                                                    <th class="acf-th" data-name="nutrition_value" data-type="text">
                                                        Nutrition Value
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody class="list-nutrition" data-count="@(Model.Nutrition.Count)">
                                                @for (var i = Model.Nutrition.Count - 1; i >= 0; i--)
                                                {
                                                    var nutri = Model.Nutrition.ElementAt(i);
                                                    <tr class="acf-row acf-clone nutrition">

                                                        <td class="acf-row-handle order">
                                                            <span>@(i + 1)</span>
                                                        </td>

                                                        <td class="acf-field acf-field-text acf-field-558bba3a6bc23 -collapsed-target" data-name="nutrition_name" data-type="text">
                                                            <div class="acf-input">
                                                                <div class="acf-input-wrap">
                                                                    <input type="text" name="listNutrition[@(i)].Name" value="@(nutri.Name)" required="required"/>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="acf-field acf-field-text acf-field-558bba486bc24" data-name="nutrition_value" data-type="text">
                                                            <div class="acf-input">
                                                                <div class="acf-input-wrap">
                                                                    <input type="text" name="listNutrition[@(i)].Value" value="@(nutri.Value)" required="required"/>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="acf-row-handle remove">
                                                            <i class="fas fa-trash-alt delete-nutri" style="cursor: pointer"></i>
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <div class="acf-actions" id="btn-add-nutrition">
                                            <a class="acf-button button button-primary">Add Nutrition</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="acf-form-submit">
                            <input type="submit" class="acf-button button button-primary button-large" value="Save recipe" /> <span class="acf-spinner"></span>
                        </div>
                    </form>
                </div>
            </article>
        </div>

    </div>
</div>
<div id="add-success" data-msg="@(TempData["AddSuccess"])"></div>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
@section Scripts{
    <script src="~/Content/js/UpdateRecipe.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#frontend-publisher").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "title": {
                        required: true,
                        maxlength: 255,
                        minlength: 2
                    },
                    "description": {
                        required: true,
                        minlength: 2
                    },
                    "preparationMinute": {
                        required: true,
                        number: true
                    },
                    "cookingMinute": {
                        required: true,
                        number: true
                    },
                    "cookingTemp": {
                        required: true,
                        number: true
                    }
                }
            });
        })
    </script>
}




