@model E_ProjectSem3.Models.Nutrition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nutrition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NutritionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
