@using E_ProjectSem3.Models
@using Microsoft.AspNet.Identity
@model E_ProjectSem3.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var user = ViewBag.User as ApplicationUser;
}

<div class="os-container top-bar-w">
    <div class="top-bar bordered">
        <ul class="bar-breadcrumbs">
            <li><a href="http://neptune.pinsupreme.com">Home</a></li>
            <li>My Profile</li>
        </ul>
        <ul class="bar-social" style="">
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
        </ul>
    </div>
</div>


<div class="os-container">

    <div class="page-w with-sidebar sidebar-location-right">
        <div class="page-content">
            <article id="page-13" class="post-13 page type-page status-publish hentry">
                <h1 class="page-title">My Profile</h1>
                <div class="userpro userpro-242 userpro-id-184" data-modal_profile_saved="Your profile has been saved!" data-template="edit" data-max_width="480px" data-uploads_dir="http://neptune.pinsupreme.com/wp-content/uploads/userpro/" data-default_avatar_male="http://neptune.pinsupreme.com/wp-content/plugins/userpro/img/default_avatar_male.jpg" data-default_avatar_female="http://neptune.pinsupreme.com/wp-content/plugins/userpro/img/default_avatar_female.jpg" data-layout="float" data-margin_top="0" data-margin_bottom="30px" data-align="center" data-skin="elegant" data-required_text="This field is required" data-password_too_short="Your password is too short" data-passwords_do_not_match="Passwords do not match" data-password_not_strong="Password is not strong enough" data-keep_one_section_open="0" data-allow_sections="1" data-permalink="http://neptune.pinsupreme.com/profile/" data-field_icons="1" data-profile_thumb_size="80" data-register_heading="Register an Account" data-register_side="Already a member?" data-register_side_action="login" data-register_button_action="login" data-register_button_primary="Register" data-register_button_secondary="Login" data-register_group="default" data-register_redirect="0" data-type="0" data-force_redirect_uri="0" data-login_heading="Login" data-login_side="Forgot your password?" data-login_side_action="reset" data-login_resend="Resend verification email?" data-login_resend_action="resend" data-login_button_action="register" data-login_button_primary="Login" data-login_button_secondary="Create an Account" data-login_group="default" data-login_redirect="0" data-rememberme="true" data-delete_heading="Delete Profile" data-delete_side="Undo, back to profile" data-delete_side_action="view" data-delete_button_action="view" data-delete_button_primary="Confirm Deletion" data-delete_button_secondary="Back to Profile" data-delete_group="default" data-reset_heading="Reset Password" data-reset_side="Back to Login" data-reset_side_action="login" data-reset_button_action="change" data-reset_button_primary="Request Secret Key" data-reset_button_secondary="Change your Password" data-reset_group="default" data-resend_heading="Resend email" data-resend_side="Back to Login" data-resend_side_action="login" data-resend_button_action="resend" data-resend_button_primary="Resend verification email" data-change_heading="Change your Password" data-change_side="Request New Key" data-change_side_action="reset" data-change_button_action="reset" data-change_button_primary="Change my Password" data-change_button_secondary="Do not have a secret key?" data-change_group="default" data-list_heading="Latest Members" data-list_per_page="5" data-list_sortby="registered" data-list_order="desc" data-list_users="0" data-list_group="default" data-list_thumb="50" data-list_showthumb="1" data-list_showsocial="1" data-list_showbio="0" data-list_verified="0" data-list_relation="or" data-list_popup_view="0" data-online_heading="Who is online now" data-online_thumb="30" data-online_showthumb="1" data-online_showsocial="0" data-online_showbio="0" data-online_mini="1" data-online_mode="vertical" data-edit_button_primary="Save Changes" data-edit_group="default" data-view_group="default" data-social_target="_blank" data-social_group="default" data-card_width="250px" data-card_img_width="250" data-card_showbio="1" data-card_showsocial="1" data-usercanedit="1" data-link_target="_blank" data-error_heading="An error has occured" data-memberlist_table="0" data-memberlist_table_columns="user_id,picture,name,country,gender,role,email_user,message_user" data-show_on_mobile="picture,name,country,email_user,message_user" data-memberlist_v2="1" data-memberlist_v2_pic_size="86" data-memberlist_v2_fields="age,gender,country" data-memberlist_v2_bio="1" data-memberlist_v2_showbadges="1" data-memberlist_v2_showname="1" data-memberlist_v2_showsocial="1" data-memberlist_pic_size="120" data-memberlist_pic_topspace="15" data-memberlist_pic_sidespace="30" data-memberlist_pic_rounded="1" data-memberlist_width="100%" data-memberlist_paginate="1" data-memberlist_paginate_top="1" data-memberlist_paginate_bottom="1" data-memberlist_show_name="1" data-memberlist_popup_view="0" data-memberlist_withavatar="0" data-memberlist_verified="0" data-memberlist_filters="0" data-memberlist_default_search="1" data-memberlist_show_follow="0" data-per_page="12" data-sortby="registered" data-order="desc" data-relation="and" data-search="1" data-exclude="0" data-show_social="1" data-registration_closed_side="Existing member? login" data-registration_closed_side_action="login" data-facebook_redirect="profile" data-logout_redirect="0" data-post_paginate="1" data-postsbyuser_num="12" data-postsbyuser_types="post" data-postsbyuser_mode="grid" data-postsbyuser_thumb="50" data-postsbyuser_showthumb="1" data-postsbyuser_taxonomy="category" data-postsbyuser_category="0" data-following_per_page="4" data-following_paginate="1" data-followers_per_page="4" data-followers_paginate="1" data-publish_heading="Add a New Post" data-publish_button_primary="Publish" data-publish_button_draft="Save as Draft" data-emd_filters="1" data-emd_thumb="200" data-emd_social="1" data-emd_bio="1" data-emd_fields="first_name,last_name,gender,country" data-emd_layout="masonry" data-emd_per_page="20" data-emd_col_width="22%" data-emd_col_margin="2%" data-emd_accountstatus="Search by account status" data-emd_photopreference="Photo Preference" data-emd_country="Search by Country,dropdown" data-emd_gender="Gender,radio" data-emd_paginate="1" data-emd_paginate_top="1" data-collage_per_page="20" data-following_heading="Following" data-followers_heading="Followers" data-activity_heading="Recent Activity" data-activity_all="0" data-activity_per_page="10" data-activity_side="refresh" data-activity_user="0" data-id="1">

                    <a href="#" class="userpro-close-popup">Close</a>

                    <div class="userpro-centered ">
                        <div class="userpro-profile-img" data-key="profilepicture">
                            <a href="@(user.Avatar)" class="userpro-tip-fade lightview" data-lightview-caption="giazzz35 did not upload a photo yet." original-title="View member photo">
                                <img src="@(user.Avatar)" width="80" height="80" alt="" class="default avatar">
                            </a>
                        </div>
                        <div class="userpro-profile-img-after" style="margin-top: 35px;">
                            <div class="userpro-profile-name">
                                <a href="/Account/Profile/@(user.Id)">@(user.LastName + " " + user.FirstName)</a>
                                <span class="userpro-badges"></span>
                            </div>
                        </div>
                        <div class="userpro-clear"></div>
                    </div>


                    <div class="userpro-body">
                        <form action="@Url.Action("SaveChangeProfile","Account")" method="post">
                            <div class="userpro-section userpro-column userpro-collapsible-1 userpro-collapsed-0">
                                <span><i class="userpro-icon-angle-down"></i></span>Profile Details
                            </div>
                            <input type="hidden" name="id" value="@(user.Id)" />
                            <div class="userpro-field  userpro-field-display_name " data-key="display_name">
                                <div class="userpro-label">
                                    <label for="display_name-242">Profile Display Name</label>
                                    <span class="userpro-tip" original-title="Your profile name/nickname that is displayed to public."></span>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="username" id="display_name-242" value="@(user.UserName)" placeholder="" class="ok">
                                    <div class="userpro-clear"></div>
                                    <div class="icon-ok"><i class="userpro-icon-ok"></i></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>


                            <div class="userpro-field  userpro-field-profilepicture">
                                <div class="userpro-label">
                                    <label for="profilepicture-242">Profile Picture</label>
                                    <span class="userpro-tip" original-title="Upload a picture that presents you across the site."></span>
                                </div>
                                <div class="userpro-input">
                                    <div class="userpro-pic userpro-pic-profilepicture">
                                        <img src="@(user.Avatar)" width="64" height="64" alt="" class="default avatar">
                                    </div>
                                    <div class="userpro-pic-upload ajax-file-upload" id="upload_widget">Upload a profile picture</div>
                                    <input type="hidden" name="avatar" id="profilepicture-242" value="@(user.Avatar)">
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>


                            <div class="userpro-field  userpro-field-first_name ">

                                <div class="userpro-label">
                                    <label for="first_name-242">First Name</label>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="firstname" id="first_name-242" value="@(user.FirstName)" placeholder="" />
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>

                            <div class="userpro-field  userpro-field-last_name ">

                                <div class="userpro-label">
                                    <label for="last_name-242">Last Name</label>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="lastname" id="last_name-242" value="@(user.LastName)" placeholder="">
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>

                            <div class="userpro-field  userpro-field-description ">
                                <div class="userpro-label">
                                    <label for="description-242">Biography</label>
                                    <span class="userpro-tip" original-title="Describe yourself."></span>
                                </div>
                                <div class="userpro-input">
                                    <textarea class="normal" type="text" name="biography" id="description-242">@(user.Biography)</textarea>
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>
                            <div class="userpro-field  userpro-field-gender ">
                                <div class="userpro-label">
                                    <label for="gender-242">Gender</label>
                                </div>
                                <div class="userpro-input">
                                    <div class="userpro-radio-wrap">
                                        <label class="userpro-radio">
                                            <span></span>
                                            <input type="radio" value="Male" name="gender" @(user.Gender == "Male" ? "checked" : "")>Male
                                        </label>
                                        <label class="userpro-radio">
                                            <span></span>
                                            <input type="radio" value="Female" name="gender" @(user.Gender == "Female" ? "checked" : "")>Female
                                        </label>
                                    </div>
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>

                            <div class="userpro-field  userpro-field-country">
                                <div class="userpro-label">
                                    <label for="country-242">Country/Region</label>
                                </div>
                                <div class="userpro-input">
                                    <select name="country" id="country-242" class="chosen-select">

                                        <option value=""></option>
                                        @foreach (var country in ViewBag.Countries)
                                        {
                                            <option value="@(country.Country_code)" @(user.Country == country.Country_code ? "selected" : "")>@(country.Country_name)</option>
                                        }
                                    </select>
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>


                            <div class="userpro-section userpro-column userpro-collapsible-1 userpro-collapsed-0">
                                <span><i class="userpro-icon-angle-down"></i></span>Social Profiles
                            </div>
                            <div class="userpro-field  userpro-field-facebook ">
                                <div class="userpro-label">
                                    <label for="facebook-242">Facebook Page</label>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="facebook" id="facebook-242" value="@(user.Facebook)" placeholder="">
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>


                            <div class="userpro-field  userpro-field-twitter " data-key="twitter">
                                <div class="userpro-label">
                                    <label for="twitter-242">Twitter</label>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="twitter" id="twitter-242" value="@(user.Twitter)" placeholder="">
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>

                            <div class="userpro-field  userpro-field-google_plus ">
                                <div class="userpro-label">
                                    <label for="google_plus-242">Google+</label>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="google" id="google_plus-242" value="@(user.Google)" placeholder="">
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>

                            <div class="userpro-field  userpro-field-user_url " data-key="user_url">
                                <div class="userpro-label">
                                    <label for="user_url-242">Website (URL)</label>
                                </div>
                                <div class="userpro-input">
                                    <input type="text" name="website" id="user_url-242" value="@(user.Website)" placeholder="">
                                    <div class="userpro-clear"></div>
                                </div>
                            </div>
                            <div class="userpro-clear"></div>




                            <div class="userpro-field userpro-submit userpro-column">
                                <input type="submit" value="Save Changes" class="userpro-button fullwidth-block">
                                <div class="userpro-clear"></div>
                            </div>
                        </form>
                    </div>
                    <div class="userpro-body">
                        <div class="userpro-section userpro-column userpro-collapsible-1 userpro-collapsed-0">
                            <span><i class="userpro-icon-angle-down"></i></span>Reset password
                        </div>

                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)
                            <div class="userpro-field  userpro-field-facebook">
                                <div class="userpro-label">
                                    <label for="user_email-242">E-mail Address</label>
                                </div>
                                <div class="userpro-input">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", value = user.Email })
                                </div>
                            </div>
                            <div class="userpro-clear"></div>
                            <div class="userpro-field  userpro-field-user_pass">
                                <div class="userpro-label">
                                    <label for="user_pass-242">Password</label>
                                </div>
                                <div class="userpro-input">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="userpro-clear"></div>
                            <div class="userpro-field  userpro-field-user_pass_confirm">
                                <div class="userpro-label">
                                    <label for="user_pass_confirm-242">Confirm your Password</label>
                                </div>
                                <div class="userpro-input">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="userpro-clear"></div>
                            <div class="userpro-field userpro-submit userpro-column">
                                <input type="submit" class="userpro-button fullwidth-block" value="Reset" />
                            </div>
                        }
                    </div>
                </div>


                <style type="text/css">

                    div.userpro-awsm-pic {
                        margin-left: -48px;
                        top: -48px;
                    }

                        div.userpro-awsm-pic img {
                            width: 86px;
                            height: 86px;
                        }

                    div.userpro,
                    div.emd-main,
                    div.emd-filters,
                    div.userpro-search-results,
                    div.userpro-label label,
                    div.userpro input,
                    div.userpro textarea,
                    div.userpro select,
                    div.userpro-field textarea.userpro_editor,
                    div.userpro-msg-overlay-content,
                    div.userpro-msg-overlay-content input,
                    div.userpro-msg-overlay-content textarea,
                    div.userpro-notifier {
                        font-family: Roboto;
                    }


                    div.userpro-242 {
                        max-width: 480px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 30px;
                    }



                        div.userpro-242.userpro-nostyle {
                            max-width: 250px;
                        }

                        div.userpro-242.userpro-users {
                            max-width: 100% !important;
                        }

                        div.userpro-242 div.userpro-user {
                            margin-top: 15px;
                            margin-left: 30px;
                            margin-right: 30px;
                        }

                            div.userpro-242 div.userpro-user a.userpro-user-img {
                                width: 120px;
                                height: 120px;
                            }

                                div.userpro-242 div.userpro-user a.userpro-user-img span {
                                    top: -120px;
                                    line-height: 120px;
                                }

                            div.userpro-242 div.userpro-user div.userpro-user-link {
                                width: 120px;
                            }

                            div.userpro-242 div.userpro-user a.userpro-user-img,
                            div.userpro-242 div.userpro-user a.userpro-user-img span {
                                border-radius: 999px !important;
                            }

                        div.userpro-242 div.userpro-list-item-i {
                            width: 50px;
                            height: 50px;
                        }


                        div.userpro-242 div.userpro-online-item-i {
                            width: 30px;
                            height: 30px;
                        }

                        div.userpro-242 div.userpro-online-item {
                            border-bottom: 0px !important;
                            padding: 10px 0 0 0;
                        }

                            div.userpro-242 div.userpro-online-item img.userpro-profile-badge,
                            div.userpro-242 div.userpro-online-item img.userpro-profile-badge-right {
                                max-width: 14px !important;
                                max-height: 14px !important;
                            }

                        div.userpro-242 div.userpro-profile-img {
                            width: 80px;
                        }

                    div.emd-user {
                        width: 22%;
                        margin-left: 2% !important;
                    }
                </style>




                <style type="text/css">

                    div.userpro-awsm-pic {
                        margin-left: -48px;
                        top: -48px;
                    }

                        div.userpro-awsm-pic img {
                            width: 86px;
                            height: 86px;
                        }

                    div.userpro,
                    div.emd-main,
                    div.emd-filters,
                    div.userpro-search-results,
                    div.userpro-label label,
                    div.userpro input,
                    div.userpro textarea,
                    div.userpro select,
                    div.userpro-field textarea.userpro_editor,
                    div.userpro-msg-overlay-content,
                    div.userpro-msg-overlay-content input,
                    div.userpro-msg-overlay-content textarea,
                    div.userpro-notifier {
                        font-family: Roboto;
                    }


                    div.userpro-955 {
                        max-width: 480px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 30px;
                    }



                        div.userpro-955.userpro-nostyle {
                            max-width: 250px;
                        }

                        div.userpro-955.userpro-users {
                            max-width: 100% !important;
                        }

                        div.userpro-955 div.userpro-user {
                            margin-top: 15px;
                            margin-left: 30px;
                            margin-right: 30px;
                        }

                            div.userpro-955 div.userpro-user a.userpro-user-img {
                                width: 120px;
                                height: 120px;
                            }

                                div.userpro-955 div.userpro-user a.userpro-user-img span {
                                    top: -120px;
                                    line-height: 120px;
                                }

                            div.userpro-955 div.userpro-user div.userpro-user-link {
                                width: 120px;
                            }

                            div.userpro-955 div.userpro-user a.userpro-user-img,
                            div.userpro-955 div.userpro-user a.userpro-user-img span {
                                border-radius: 999px !important;
                            }

                        div.userpro-955 div.userpro-list-item-i {
                            width: 50px;
                            height: 50px;
                        }


                        div.userpro-955 div.userpro-online-item-i {
                            width: 30px;
                            height: 30px;
                        }

                        div.userpro-955 div.userpro-online-item {
                            border-bottom: 0px !important;
                            padding: 10px 0 0 0;
                        }

                            div.userpro-955 div.userpro-online-item img.userpro-profile-badge,
                            div.userpro-955 div.userpro-online-item img.userpro-profile-badge-right {
                                max-width: 14px !important;
                                max-height: 14px !important;
                            }

                        div.userpro-955 div.userpro-profile-img {
                            width: 80px;
                        }

                    div.emd-user {
                        width: 22%;
                        margin-left: 2% !important;
                    }
                </style>


            </article>
        </div>


        <div class="page-sidebar">

            <aside id="osetin_author_widget-1" class="widget-odd widget-first widget-1 with-ribbon widget widget_osetin_author_widget">
                <div class="shortcode-about-author">
                    <h3 class="saa-header header-ribbon">About Me</h3>
                    <div class="saa-avatar"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2016/12/alba.png" alt="About Me" /></div>
                    <div class="saa-content">
                        <p>I love cooking and blogging. Using a fork, break salmon. Halve reserved potatoes and eggs crosswise.</p>
                    </div>
                </div>
            </aside>
            <aside id="osetin_social_widget-1" class="widget-even widget-2 widget widget_osetin_social_widget">
                <ul class="shortcode-social-links">
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-instagram"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-facebook"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-pinterest"></i></a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="os-icon os-icon-social-youtube"></i></a></li>
                </ul>
            </aside>
            <aside id="mc4wp_form_widget-2" class="widget-odd widget-3 widget widget_mc4wp_form_widget">
                <h3 class="widget-title"><span>Our Newsletter</span></h3>
                <script>
                    (function () {
                        if (!window.mc4wp) {
                            window.mc4wp = {
                                listeners: [],
                                forms: {
                                    on: function (event, callback) {
                                        window.mc4wp.listeners.push({
                                            event: event,
                                            callback: callback
                                        });
                                    }
                                }
                            }
                        }
                    })();
                </script>
                <!-- Mailchimp for WordPress v4.7.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-916 mc4wp-form-basic" method="post" data-id="916" data-name="Default sign-up form">
                    <div class="mc4wp-form-fields">
                        <p>
                            <div style="font-size: 12px; margin-bottom: 10px;">Subscribe for our weekly recipes tips, we promise to not spam you</div>
                            <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required />
                        </p>
                        <p>
                            <input type="submit" value="Subscribe">
                        </p>
                    </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1581438659" /><input type="hidden" name="_mc4wp_form_id" value="916" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                    <div class="mc4wp-response"></div>
                </form>
                <!-- / Mailchimp for WordPress Plugin -->
            </aside>
            <aside id="osetin_categories_widget-1" class="widget-even widget-4 with-ribbon widget widget_osetin_categories_widget">
                <h3 class="widget-title"><span>Categories</span></h3>
                <div class="shortcode-categories-icons">
                    <table class="category-ajax">
                    </table>
                </div>
            </aside>
            <aside id="widget_tptn_pop-1" class="widget-odd widget-5 with-ribbon widget tptn_posts_list_widget">
                <h3 class="widget-title"><span>Popular Recipes</span></h3>
                <div class="tptn_posts  tptn_posts_widget tptn_posts_widget1">
                    <ul class="popular-ajax">
                    </ul>
                    <div class="tptn_clear"></div>
                </div>
            </aside>
            <aside id="osetin_cuisines_widget-1" class="widget-even widget-6 with-ribbon widget widget_osetin_cuisines_widget">
                <h3 class="widget-title"><span>Popular Cuisines</span></h3>
                <div class="shortcode-categories-icons">
                    <table>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/brazilian/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/br.png" alt="Brazilian" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/brazilian/">Brazilian</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/french/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/fr.png" alt="French" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/french/">French</a></h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/italian/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/it.png" alt="Italian" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/italian/">Italian</a></h3>
                                </div>
                            </td>
                            <td>
                                <div class="sci-media"><a href="http://neptune.pinsupreme.com/cuisine/mexican/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/11/mx.png" alt="Mexican" /></a></div>
                                <div class="sci-title">
                                    <h3><a href="http://neptune.pinsupreme.com/cuisine/mexican/">Mexican</a></h3>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>
            <aside id="text-2" class="widget-odd widget-7 widget widget_text">
                <div class="textwidget"><a href="/"><img src="http://neptune.pinsupreme.com/wp-content/uploads/2015/09/magic_placeholder_2.jpg" alt="magic box" /></a></div>
            </aside>
            <aside id="tag_cloud-1" class="widget-even widget-last widget-8 with-ribbon widget widget_tag_cloud">
                <h3 class="widget-title"><span>Popular Tags</span></h3>
                <div class="tagcloud">
                    <a href="http://neptune.pinsupreme.com/tag/beef/" class="tag-cloud-link tag-link-22 tag-link-position-1" style="font-size: 15.777777777778pt;" aria-label="beef (4 items)">beef</a>
                    <a href="http://neptune.pinsupreme.com/tag/broccoli/" class="tag-cloud-link tag-link-23 tag-link-position-2" style="font-size: 15.777777777778pt;" aria-label="broccoli (4 items)">broccoli</a>
                    <a href="http://neptune.pinsupreme.com/tag/cheese/" class="tag-cloud-link tag-link-24 tag-link-position-3" style="font-size: 15.777777777778pt;" aria-label="cheese (4 items)">cheese</a>
                    <a href="http://neptune.pinsupreme.com/tag/chicken/" class="tag-cloud-link tag-link-25 tag-link-position-4" style="font-size: 15.777777777778pt;" aria-label="chicken (4 items)">chicken</a>
                    <a href="http://neptune.pinsupreme.com/tag/corn/" class="tag-cloud-link tag-link-26 tag-link-position-5" style="font-size: 15.777777777778pt;" aria-label="corn (4 items)">corn</a>
                    <a href="http://neptune.pinsupreme.com/tag/hot/" class="tag-cloud-link tag-link-27 tag-link-position-6" style="font-size: 22pt;" aria-label="hot (5 items)">hot</a>
                    <a href="http://neptune.pinsupreme.com/tag/mushrooms/" class="tag-cloud-link tag-link-28 tag-link-position-7" style="font-size: 15.777777777778pt;" aria-label="mushrooms (4 items)">mushrooms</a>
                    <a href="http://neptune.pinsupreme.com/tag/quick/" class="tag-cloud-link tag-link-29 tag-link-position-8" style="font-size: 15.777777777778pt;" aria-label="quick (4 items)">quick</a>
                    <a href="http://neptune.pinsupreme.com/tag/spicy/" class="tag-cloud-link tag-link-30 tag-link-position-9" style="font-size: 8pt;" aria-label="spicy (3 items)">spicy</a>
                    <a href="http://neptune.pinsupreme.com/tag/sushi/" class="tag-cloud-link tag-link-31 tag-link-position-10" style="font-size: 8pt;" aria-label="sushi (3 items)">sushi</a>
                    <a href="http://neptune.pinsupreme.com/tag/whole-grains/" class="tag-cloud-link tag-link-32 tag-link-position-11" style="font-size: 15.777777777778pt;" aria-label="whole grains (4 items)">whole grains</a>
                </div>
            </aside>
        </div>



    </div>
</div>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
@section Scripts{
    <script type='text/javascript' src='~/Content/js/CategoriesAjax.js'></script>
    <script>
        jQuery(document).ready(function ($) {
            $.ajax({
                url: '/Recipe/GetPopularRecipesAjax',
                type: 'GET',
                success: function (responseData) {
                    var html = '';
                    for (var i = 0; i < responseData.data.length; i++) {
                        html += `<li>
                                        <a href="/Home/RecipeDetail/${responseData.data[i].Id}" class="tptn_link"><img style="width: 50px; height: 50px;" src="${responseData.data[i].FeaturedImage}" class="tptn_thumb tptn_featured" alt="Classic tomato salsa with basil" title="${responseData.data[i].Title}" sizes="(max-width: 50px) 100vw, 50px" /></a>
                                        <span class="tptn_after_thumb"><a href="/Home/RecipeDetail/${responseData.data[i].Id}" class="tptn_link"><span class="tptn_title">${responseData.data[i].Title}</span></a></span>
                                    </li>`;
                    }
                    $('.popular-ajax').html(html);
                }
            });

            //Upload cloudinary:
            var myWidget = cloudinary.createUploadWidget({
                cloudName: 'dev20',
                uploadPreset: 'gfj9avei'
            },
                (error, result) => {
                    if (!error && result && result.event === "success") {

                        $('#profilepicture-242').val(result.info.url);
                        var html = `<img src="${result.info.url}" width="64" height="64" alt="" class="default avatar"/>`;
                        $('.userpro-pic-profilepicture').html(html);
                    }
                }
            )

            document.getElementById("upload_widget").addEventListener("click",
                function () {
                    myWidget.open();
                },
                false);
        })
    </script>
}